{% extends 'base.html' %}
{% block title %}Task: Register{% endblock %}

{% block content %}
<div class="container mt-5" style="width: 50%;">
    <div class="login-card">
        <h2 class="text-center">Register</h2>
        <form>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Enter your username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter your password">
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">Confirm Password</label>
                <input type="password2" class="form-control" id="password2" placeholder="Confirm password">
            </div>
            <button type="submit" class="btn btn-login btn-block">Register</button>
            <div class="mb-3 mt-3">
                <p>Already registerd? <a href="{% url 'login' %}">Login here</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}